@{
    ViewData["Title"] = "TravelArt";
}

<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cormorant&family=DM+Serif+Text&family=Fredericka+the+Great&family=Merriweather:wght@300;700&family=Oswald:wght@300&family=Pacifico&family=Playfair+Display&family=Roboto+Slab:wght@300&family=Rubik+Distressed&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Fredericka+the+Great&family=Pacifico&family=Rubik+Distressed&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cormorant&family=DM+Serif+Text&family=Fredericka+the+Great&family=Merriweather:wght@300;700&family=Oswald:wght@300&family=Pacifico&family=Roboto+Slab:wght@300&family=Rubik+Distressed&display=swap" rel="stylesheet">
        <style>
            #title {
                font-family: "Playfair Display", "sans-serif";
                text-align: center;
                margin-top: 90px;
                margin-bottom: 90px;
            }

            #buttongroup{
                margin-top: 60px;
                text-align: center;
            }

            #darkbuttons{
                height: 75px;
                width: 250px;
                padding-top: 22px;
                padding-bottom: 15px;
                padding-left: 15px;
                padding-right: 15px;
                margin-left: 10px;
                margin-right: 10px;
            }

            #img{
                max-width: 1350px;
                height: auto;
                margin-left:100px;
                margin-right:100px;
                margin-top:50px;
            }

            #cardbody {
                padding-top: 60px;
                padding-bottom: 130px;
            }

            .card-title {
                padding-bottom: 25px;
            }

            a.link {
                font-family: "Roboto Slab", "sans-serif";
                position: absolute;
                bottom: 20px;
            }

            a.link:link {
                color: rgb(0, 179, 89);
                background-color: transparent;
                text-decoration: none;
            }

            a.link:hover {
                color: rgb(0, 179, 89);
                background-color: transparent;
                text-decoration: underline;
            }

            a.link:visited {
                color: rgb(0, 179, 89);
                background-color: transparent;
                text-decoration: none;
            }

            a.private {
                font-family: "Roboto Slab", "sans-serif";
            }

            a.private:link {
                color: wheat;
                background-color: transparent;
                text-decoration: none;
            }

            a.private:hover {
                color: wheat;
                background-color: transparent;
                text-decoration: underline;
            }

            a.private:visited {
                color: wheat;
                background-color: transparent;
                text-decoration: none;
            }

            #cardcontent {
                color: wheat;
                font-family: "Roboto Slab", "sans-serif";
            }

            h5 {
                font-family: "DM Serif Text", "sans-serif";
            }


            h2 {
                color: dimgrey;
                margin-top: 65px;
            }
            #searchbutton{
                background-color:white;
                margin-left:0px;
                border-radius: 0px 30px 5px 0px;
                border:0px;
                width:40px;
            }
            #searchbutton:focus{
                outline:none;
            }
            #searchbutton:hover{
                background-color:white;
            }
            #searchinput{
                margin-right:0px;
                padding-left: 20px;
                width:400px;
                height: 50px;
                border-radius: 5px 0px 0px 30px;
                border:0px;
            }
            #searchinput:focus{
                outline:none;
            }

        </style>
    </head>
    <body>
        <div id = "buttongroup">
        <a id="darkbuttons" type="button" class="btn btn-outline-dark" target="_blank" asp-area="" asp-controller="Oteller" asp-action="OtellerIndex">Oteller</a>
        <a id="darkbuttons" type="button" class="btn btn-outline-dark" target="_blank" asp-area="" asp-controller="GezilecekYerler" asp-action="GezilecekYerlerIndex">Gezilecek Yerler</a>
        <a id="darkbuttons" type="button" class="btn btn-outline-dark" target="_blank" asp-area="" asp-controller="Restoranlar" asp-action="RestoranlarIndex">Restoranlar</a>
        </div>
        <div class="card border border-0">
            <img id="img" src="~/images/TravelArtHomePage.jpg" class="card-img-fluid" alt="...">
            <div href="#" class="card-img-overlay text-light" style="padding-left:38%; padding-top:23%;">
                <form class="d-flex" role="search">
                        <input id="searchinput" type="search" placeholder="Yolculuk nereye..." aria-label="Search">
                        <button id="searchbutton" type="submit" ><i style="margin-right:10px; padding-top:8px;" class="material-icons">search</i></button>
                </form>
            </div>
        </div>


        <div class="container">

            <h1 id="title">"You are your only limit."</h1>

            <div class="container" style="margin-bottom:50px;">
                <div class="row">
                    <div class="col-4">
                        <div class="card shadow bg-body rounded">
                            <a><img width="360" height="230" src="~/images/Zagnos_Pasa_Camii.jpg" class="card-img-top" alt="..."></a>
                            <div id="cardbody" class="card-body">
                                <h5 class="card-title">Zağnos Paşa Camii</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a class="link" href="#">Devamını Oku>></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card shadow bg-body rounded">
                            <a><img width="360" height="230" src="~/images/Balikesir_Saat_Kulesi.jpg" class="card-img-top" alt="..."></a>
                            <div id="cardbody" class="card-body">
                                <h5 class="card-title">Balıkesir Saat Kulesi</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a class="link" href="#">Devamını Oku>></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card shadow bg-body rounded">
                            <a><img width="360" height="230" src="~/images/Balikesir_Museum.jpg" class="card-img-top" alt="..."></a>
                            <div id="cardbody" class="card-body">
                                <h5 class="card-title">Balıkesir Kuva-yi Milliye Müzesi</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a class="link" href="#">Devamını Oku>></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    </html>
